/* ===== FONTES ===== */
.boys {
    color:#F20C0C;
    font-family: 'Protest Revolution', sans-serif;
    text-align: center;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
}
/* ===== TEXTOS ===== */
body {
    background-color: 	#F2E6CE;
    color:Maroon;
    text-align: center;
     margin-left: 20px;
    margin-right: 20px;
/* ===== FONTES ===== */
}
.Love {
    color: #A60303;
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-weight: 400px;
}
/* ===== TEXTOS ===== */
h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
/* ===== TEXTOS ===== */
.cazuza {
    text-transform: uppercase;
    text-align: center;
}
/* ===== TEXTOS ===== */
.lady-gaga {
    word-spacing: 5px;
    text-align: left;
}
/* ===== TEXTOS ===== */
.bowie {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    text-align: right;
}
/* ===== BOTÕES ===== */
.botoes {
    margin-top: 60px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 15px;             
    padding-bottom: 30px;
}

/* ===== BOTÕES ===== */
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease; 
}

/* ===== BOTÕES ===== */
.btn1 {
    background-color:SpringGreen;
    color: white;
}

.btn1:hover {
    background-color:MediumSeaGreen;
    color: #fff;
}

/* ===== BOTÕES ===== */
.btn2 {
    background-color: Aquamarine;
    color: white;
}

.btn2:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.frase {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-top: 20px;
}.eu {
    color: #A60303;
    font-weight: bold;
}

/* ===== IMAGEM ===== */
.venti {
    width: 700px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}
.venti:hover {
    transform: scale(1.1);
    opacity: 0.85;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
